:root{
    --teal: #2ec1ac;
    --teal_hover: #279e8c;
}

* {
    font-family: 'Poppins', sans-serif;
}
.h-font {
    font-family: 'Merienda', cursive;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
html, body {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.swiper-slide img {
    display: block;
    width: 100%;
}

.custom-bg {
    background-color: var(--teal);
    border: 1px solid var(--teal);
}
.custom-bg:hover {
    background-color: var(--teal_hover);
    border-color: var(--teal_hover);
}

.box{
    border-top-color: var(--teal) !important;
}

.pop:hover{
    border-top-color: var(--teal) !important;
    transform: scale(1.03);
    transition: all 0.3s;
}

.h-line {
    width: 150px;
    margin: 0 auto;
    height: 1.7px;
}

.custom-alert{
    position: fixed;
    top: 25px;
    right: 25px;
}

.availability-form {
    margin-top: -50px;
    z-index: 2;
    position: relative;
}
@media screen and (max-width: 575px) {
    .availability-form{
        margin-top: 25px;
        padding: 0 35px;
    }
}

.swiper-testimonials {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide-testimonials {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      
    }

    .swiper-slide-testimonials img {
      display: block;
      width: 100%;
    }

div.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
